
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Home Route */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20px !important;
}
.container a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}
.container a:hover {
    color: white;
    background-color: black;
    transition: margin-right 0.5s, color 1s;
}

.homepage-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(images/bg-1.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.content {
    display: flex;
    flex-direction: column;
    height: 630px;
    backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5); /* Adjust the background color and transparency as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow for better visibility */
}
.indexPage {
    height: 200px !important;
}
.hero {
    height: 515px;
}
h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid black;
    padding: 3px;
    text-align: left;
}
th {
    text-align: left;
}
.deleteButton:hover{
    cursor: pointer;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    width: 200px;
    height: 25px;
    margin-right: 5px;
    border-radius: 8px;
    padding-left: 5px;
}
button, .logout{
    background: black;
    color: white;
    height: 31px;
    width: 66px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}
button:hover, .logout:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    align-self:center;
    margin-top: 15px;
}

/* create profile */
.create-profile-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.create-profile-container form{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label{
    display: block;
    margin-bottom: 2px;
}

form div {
    margin-bottom: 10px;
    width: 80%;
}
.create-profile-container input {
    width: 100%;
}

.create-profile-container form button{
    margin-top: 20px;
}